Repository DerekVonk/vonkfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-config, validate-test-files, check-coverage-config, validate-docker-compose, check-test-env-files, validate-test-scripts, check-test-db-config, eslint-security, typescript-check, test-smoke-check, validate-migrations, check-debug-statements

validate-ci-config:
  name: Validate CI/CD Configuration
  entry: ./scripts/validate-ci-config.sh
  language: script
  pass_filenames: false

validate-test-files:
  name: Validate Test Files
  entry: bash -c 'npx tsc --noEmit --project test/tsconfig.json'
  language: system
  pass_filenames: false

check-coverage-config:
  name: Check Coverage Configuration
  entry: bash -c 'jq -e ".scripts.\"test:coverage\"" package.json > /dev/null && echo "‚úÖ Coverage script found"'
  language: system
  pass_filenames: false

validate-docker-compose:
  name: Validate Docker Compose
  entry: docker-compose
  args:
  - -f
  - docker-compose.test.yml
  - config
  - -q
  language: system
  pass_filenames: false

check-test-env-files:
  name: Check Test Environment Files
  entry: bash
  args:
  - -c
  ...

validate-test-scripts:
  name: Validate Test Scripts
  entry: bash
  args:
  - -c
  ...

check-test-db-config:
  name: Check Test Database Configuration
  entry: bash
  args:
  - -c
  - "if ! grep -q \"vonkfi_test\" docker-compose.test.yml; then\n  echo \"‚ùå Test database configuration not found in docker-compose.test.yml\"\n  exit 1\nfi\necho \"‚úÖ Test database configuration found\"\n"
  language: system
  ...

eslint-security:
  name: ESLint Security Check
  entry: npx eslint
  args:
  - --config
  - ./ci/eslint-security.config.js
  - --ext
  - .ts
  - .tsx
  - .js
  - .jsx
  language: system
  pass_filenames: true

typescript-check:
  name: TypeScript Check
  entry: npx tsc
  args:
  - --noEmit
  language: system
  pass_filenames: false

test-smoke-check:
  name: Test Smoke Check
  entry: bash
  args:
  - -c
  ...

validate-migrations:
  name: Validate Database Migrations
  entry: bash
  args:
  - -c
  ...

check-debug-statements:
  name: Check for Debug Statements
  entry: bash
  args:
  - -c
  ...

feat(VF-006): Implement comprehensive transfer recommendation system with robust edge case handling
  server/routes.ts
  server/services/unifiedTransferRecommendationEngine.ts
  server/utils/concurrencyControl.ts
  server/utils/currencyUtils.ts
  server/utils/errorRecovery.ts
  server/validation/transferValidation.ts
  test/edge-cases/concurrency-control.test.ts
  test/edge-cases/currency-validation.test.ts
  test/edge-cases/transfer-validation.test.ts
Due: validate-test-files, eslint-security, typescript-check, test-smoke-check, check-debug-statements

feat: enhance dashboard components, optimize queries, and improve data handling
  README.md
  client/src/components/DraggableLayout.tsx
  client/src/components/MonthlyOverview.tsx
  client/src/pages/Goals.tsx
  client/src/types.ts
  docs/CI_CD_INTEGRATION_HARDENING_REPORT.md
  docs/DATABASE_OPTIMIZATION_REPORT.md
  docs/DATABASE_SAFE_TEST_PARALLELIZATION_IMPLEMENTATION_REPORT.md
  docs/DEPLOYMENT.md
  docs/DOCKER_SETUP.md
  docs/OPTIMIZATION_SUMMARY.md
  docs/SECURITY_IMPLEMENTATION_REPORT.md
  docs/SENIOR_TEST_ARCHITECT_ENHANCEMENTS_REPORT.md
  docs/TESTING_DEPENDENCIES.md
  docs/TESTING_STRATEGY.md
  docs/test-baseline-record.md
  docs/test-infrastructure-review-todos.md
  docs/test-optimization-results.md
  docs/test-performance-optimization-design.md
  server/routes.ts
  server/storage.ts
Due: eslint-security, typescript-check, check-debug-statements

fix: pin PostgreSQL version to 15-alpine in CI workflow for consistency and stability
  .github/workflows/ci.yml
Due: validate-ci-config

refactor: simplify Vitest configuration validation in CI workflow
  .github/workflows/ci.yml
Due: validate-ci-config

fix: remove HTML reporter from CI vitest config to resolve @vitest/ui dependency issue
  vitest.config.ts
Due: validate-ci-config, check-coverage-config, eslint-security, typescript-check, test-smoke-check, check-debug-statements

fix: standardize DATABASE_URL to use test:test credentials consistently across all environments
  .env.e2e
  .env.integration
  .env.performance
  .env.test.example
  test/setup.ts
Due: validate-test-files, check-test-env-files, check-test-db-config, eslint-security, typescript-check, test-smoke-check, check-debug-statements

fix: include migration SQL files in repository
  .gitignore
  migrations/0000_complex_captain_universe.sql
  migrations/0000_nosy_red_wolf.sql
  migrations/0001_hesitant_the_order.sql
Due: validate-migrations

fix: add missing test-rollbacks.ts file for migration rollback tests
  test/migrations/test-rollbacks.ts
Due: validate-test-files, eslint-security, typescript-check, test-smoke-check, check-debug-statements

fix: correct ES module imports in test-rollbacks.ts
  test/migrations/test-rollbacks.ts
Due: validate-test-files, eslint-security, typescript-check, test-smoke-check, check-debug-statements

fix: ensure all test utilities use DATABASE_URL and correct ports for CI compatibility
  test/utils/automated-health-reporting.ts
  test/utils/per-file-pool-config.ts
  test/utils/schema-isolation-system.ts
  test/utils/test-db-helpers.ts
Due: validate-test-files, eslint-security, typescript-check, test-smoke-check, check-debug-statements

fix(ci): update Node.js version to 20 to resolve NPM engine warnings
  .github/workflows/ci.yml
Due: validate-ci-config

feat(ci): add script to test CI pipeline locally and standardize DATABASE_URL usage
  .github/workflows/ci.yml
  test-ci-locally.sh
Due: validate-ci-config

fix(ci): add database connection test before running migrations
  .github/workflows/ci.yml
Due: validate-ci-config

fix(ci): update Postgres health check to use database-specific command
  .github/workflows/ci.yml
Due: validate-ci-config

fix(ci): update Postgres user in workflows to standardize as "postgres"
  .github/workflows/ci.yml
Due: validate-ci-config

feat(transfers): implement comprehensive internal transfer detection system
  migrations/0002_premium_mikhail_rasputin.sql
  migrations/0003_modern_professor_monster.sql
  migrations/meta/0002_snapshot.json
  migrations/meta/0003_snapshot.json
  migrations/meta/_journal.json
  run-tests.sh
  server/routes.ts
  server/scripts/detectInternalTransfers.ts
  server/services/camtParser.ts
  server/services/fireCalculations.ts
  server/services/internalTransferDetector.ts
  server/storage.ts
  shared/schema.ts
  test/import-integration.test.ts
  test/services/fire-calculations-with-transfers.test.ts
  test/services/internal-transfer-detector.test.ts
Due: validate-ci-config, validate-test-files, eslint-security, typescript-check, test-smoke-check, validate-migrations, check-debug-statements

feat(metrics): add last transaction tracking and net worth calculation
  client/src/components/MonthlyOverview.tsx
  client/src/types.ts
  database-setup.sql
  server/routes.ts
  server/services/fireCalculations.ts
Due: eslint-security, typescript-check, check-debug-statements

docs: add comprehensive development guide for VonkFi
  CLAUDE.md
Due: none

Path conditions:
  validate-ci-config: any of: (?x)^(
  \.github/workflows/.*\.yml|
  \.gitlab-ci\.yml|
  vitest\.config\.ts|
  playwright\.config\.ts|
  package\.json|
  run-tests\.sh|
  ci/.*
)$

  validate-test-files: any of: ^test/.*\.(ts|tsx)$
  check-coverage-config: any of: ^(package\.json|vitest\.config\.ts)$
  validate-docker-compose: any of: ^docker-compose.*\.yml$
  check-test-env-files: any of: ^\.env.*\.example$
  validate-test-scripts: any of: ^package\.json$
  check-test-db-config: any of: ^(docker-compose\.test\.yml|test/setup\.ts)$
  eslint-security: any of: \.(ts|tsx|js|jsx)$
  typescript-check: any of: \.(ts|tsx)$
  test-smoke-check: any of: ^(test/.*|vitest\.config\.ts|test/setup\.ts)$
  validate-migrations: any of: ^migrations/.*\.sql$
  check-debug-statements: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  node_modules/.*|
  dist/.*|
  coverage/.*|
  .*\.log$
)$

